<nav class="flex justify-between w-auto py-4 sm:px-20">
    <div class="flex sm:items-center ml-10">
        <h1 class="text-gray-300 text-4xl font-semibold  block cursor-pointer" (click)="onSelectHome()">taskmaster</h1>
    </div>
  
    <div class="hidden sm:block">
        <select name="name" id="user" class="text-2xl w-fit text-end  text-white gap-3 bg-transparent outline-none" (change)="onSelectionChange($event)">
            <option hidden class="bg-gray-900 text-end " value="user">{{userName}}</option>
            <option class="bg-gray-900 text-xl  rounded-md text-center"  value="logout">Log out</option>
            <option class="bg-gray-900 text-xl rounded-md text-center" value="profile" >Profile</option>
        </select>
    </div>

    <div class="sm:hidden mr-10">
        <button type="button" (click)="showNavBar = !showNavBar"
        (keydown.escape)="showNavBar = false"
            class=" w-10 h-10 flex justify-center items-center text-sm font-semibold rounded-lg border-2   disabled:opacity-50 disabled:pointer-events-none "
            [ngClass]="{
                'border-gray-200 text-white': showNavBar == false,
                'bg-white text-black': showNavBar == true
            }">
            <svg class=" w-5 h-5 " width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
    </div>
    
</nav>
<div  [hidden]="!showNavBar" (keydown.away)="showNavBar = false"
    class="p-5 w-full font-sans text-white ml-10 sm:hidden">
    <ul class="text-2xl ">
        <li><a class="p-2.5" (click)="onSelectProfile()">Profile</a></li>
    </ul>
    <div class="p-3">
        <button
            (click)="onLogout()"
            class="px-4 py-1 text-lg text-white hover:text-gray-900 rounded border-2 border-white hover:bg-[#ffffff]">
            Logout
        </button>
    </div>
</div>
